
.center {
    fill: #ffaa66;
}

.relation {
    stroke: LightGray;
}

text {
    font: 12px sans-serif ;
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    text-anchor: middle;
}